body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
}
form {
    background-color: #fff;
    width: 500px;
    text-align: center;
    margin: 50px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 60%);
}
h3 {
    font-size: 2em;
}
#myInput {
    text-align: center;
    font-size: 2em;
    width: 300px;
    border: 3px solid rgb(158, 158, 158);
    border-radius: 5px;
    margin-bottom: 25px;
}
label {
    font-size: 1.5em;
}
button {
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 5px 15px;
    border: none;
    /* border: 1px solid rgb(158, 158, 158); */
    border-radius: 5px;
    transition: background 0.15s;
}
button:hover {
    background-color: hsl(0, 0%, 85%);
}
#result {
    font-size: 2em;
    font-weight: 600;
}